node_modules
import
.DS_Store
.turbo
.pnpm-store
.npmrc
.vscode
.claude/launch.json
packages/*/dist
packages/*/stats
packages/*/src/flags/*
!packages/*/src/flags/.gitkeep
packages/*/src/flags-list.ts
preview/dist
preview/.astro
